div#game-over-container {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 75px;
}

div.btn {
  text-align: center;
}

div#restart {
  margin-top: 130px;
}
