div#main-menu-container {
  text-align: center;
  background-image: url(../../assets/main-menu.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
}

div#main-menu-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div#main-menu-container h1 {
  margin-bottom: 100px;
}

div.main-menu-btn {
  background-color: #fff;
  width: 50%;
  color: #000;
  padding: 15px;
  cursor: pointer;
  margin: 15px auto;
  font-size: 4em;
}

div.main-menu-btn:hover {
  opacity: 0.5;
}

p#main-menu-footer {
  margin-top: 100px;
  font-size: 1.75em;
}
