div#stat-hearts {
  position: fixed;
  top: 15px;
  right: 15px;
  text-align: right;
}

div.heart-container {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: 75%;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../../assets/heart.png);
}

div.heart-container:last-child {
	animation: beat infinite .5s;
}

@keyframes beat {
  0% {
    background-size: 75%;
  }
  50% {
    background-size: 100%;
  }
  100% {
    background-size: 75%;
  }
}

div#stat-points {
  position: absolute;
  top: 140px;
  right: 35px;
  color: #fff;
  height: 30px;
  text-align: center;
  font-size: 3em;
}
