div#stat-hearts {
  position: fixed;
  top: 15px;
  right: 15px;
  text-align: right;
}

div.heart-container {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: 75%;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../../assets/heart.png);
}

div.heart-container:last-child {
	animation: beat infinite .5s;
}

@keyframes beat {
  0% {
    background-size: 75%;
  }
  50% {
    background-size: 100%;
  }
  100% {
    background-size: 75%;
  }
}

div#stat-points {
  position: absolute;
  top: 15px;
  left: 15px;
  color: black;
  height: 30px;
  width: 100px;
  background-color: white;
  text-align: center;
  line-height: 25px;;
}
