div#scene-container {
  height: 100%;
  width: 100%;
  display: none;
  background-size: cover;
  background-position: center center;
}

div#scene-content {
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

div#scene-options {
  margin: 50px 0px;
}

div.scene-option {
  background-color: #fff;
  color: #000;
  display: block;
  padding: 5px 15px;
  margin: 5px;
  font-size: 3em;
  cursor: pointer;
}

span#scene-msg {
  font-size: 3em;
  font-weight: 100;
  display: block;
  padding: 15px 50px;
  text-align: center;
}